<html>

<head>
    <title>
        engine Example
    </title>
</head>

<body>
    <% product.forEach(fucntion(item,index){ %>
        <%= item.name%>
            <%=item.description%>
                <%=item.price%>
                    <% }); %>
</body>

</html>